.panel {
  background: #FAFAFA;
  box-shadow: 0 2px 3px 3px #235a7d56;
  border-top: 4px solid #330000;
}

.event-panel {
  background: #FAFAFA;
  box-shadow: 0 2px 3px 3px #235a7d56;
}

.mtop {
  margin-top: 5.5rem;
}

.link, .link:hover {
  text-decoration: none;
}

.formTitle {
  font-size: 1.8rem;
}

.borderRadius {
  border-radius: 20px;
}

.inputBG {
  background: #E2E2E2;
}

/* .header {
  box-shadow: 0 2px 3px 3px #235a7d18;
} */

.require {
  color: red;
}

.is-invisible {
  display: none;
}

.is-visible {
  display: block;
}