.panel {
    background: #FAFAFA;
    box-shadow: 0 2px 3px 3px #235a7d56;
}

.link, .link:hover {
    text-decoration: none;
}

.formTitle {
    font-size: 1.8rem;
}

.borderRadius {
    border-radius: 20px;
}

.inputBG {
    background: #E2E2E2;
}

.header {
    box-shadow: 0 2px 3px 3px #235a7d18;
}